.main_chat
  .main_info
    .main_group
      .main_group_name
        test
      .member_list
        test
    .edit_button
      = link_to "#" do
        Edit
  .main_list
    .message_box
      .message_info
        .message_info_name
          satou
        .message_info_date
          2020 09 09
      .message
        .message_contents
          arigatou
    .message_box
      .message_info
        .message_info_name
          satou
        .message_info_date
          2020 09 09
      .message
        .message_contents
          arigatou
  .main_form
    %form.form_contents
      %input{type: "text", class: 'form_message_text', placeholder: 'type a message'}
      .form_image
        %label{class:"input-box__image"}
          = icon('far', 'image')
          %input{type: "file", class: "hidden"}
      %input{type:"submit",value: "send" ,class:"message_send_button"}
