.side_bar
  .side_contents
    .side_text
      .side_name
        %p masa
      .side_name_icon
        = link_to "#", class: "contents" do
          = icon('far', 'edit')
        = link_to "#", class: "contents" do
          = icon('fas', 'cog')
  .side_list
    .group 
      .group_name
        test
      .group_message
        test
    .group 
      .group_name
        test
      .group_message
        test